<!-- Modal Popup -->
<div class="modal-content {{ inputData.CARD_BG_CLASS }}">
  <div class="modal-header">
    <h5 class="modal-title {{ inputData.TITLE_TEXT_CLASS }}" id="trackingNumberModalLabel"><i class="{{ inputData.CLASS_ICON }} margin-right8"></i> {{ inputData.TITLE | translate }}</h5>

  </div>
  <div class="card-body p-3 {{ inputData.MESSAGE_TEXT_CLASS }}">
    {{ inputData.MESSAGE | translate }}
  </div>
    <!-- /.card-body -->
  <div class="modal-footer">
    <button type="button" *ngIf="inputData.BUTTON_ACCEPT_STATUS" class="btn {{ inputData.BUTTON_ACCEPT_CLASS }}" (click)="continueWithNextTrackingNumber(inputData.BUTTON_ACCEPT_VALUE)">{{ inputData.BUTTON_ACCEPT_MESSAGE | translate }}</button>
    <button type="button" *ngIf="inputData.CANCEL_BUTTON_STATUS" class="btn {{ inputData.CANCEL_BUTTON_CLASS }}" (click)="continueWithNextTrackingNumber(inputData.CANCEL_BUTTON_VALUE)">{{ inputData.CANCEL_BUTTON_MESSAGE | translate }}</button>
  </div>
</div>
