<!-- Modal Popup -->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="trackingNumberModalLabel">{{ 'CONFIRMATION' | translate }}</h5>

  </div>
    <div class="card-body p-3">
      {{ 'MULTIPLE_TRACKING_NUMBERS_FOUND' | translate }}
    </div>
    <!-- /.card-body -->
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" (click)="continueWithNextTrackingNumber(false)">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="btn btn-success " (click)="continueWithNextTrackingNumber(true)">{{ 'CONTINUE' | translate }}</button>
  </div>
</div>
