
  <app-multi-step-tabs></app-multi-step-tabs>

  <!--<section>

    <div class="authenticationMessage">
      <strong>{{ authenticatedmessage }}</strong>
    </div>
    <div class="userScannerBtn" *ngIf="userAuthenticated && trakingVerificationFailed">
      <button class="btn btn-primary" (click)="scanUser()">Start Scan</button>
    </div>
    <div class="userScannerBtn" *ngIf="!userAuthenticated">
      <button class="btn btn-primary" (click)="scanUser()">User Scanner</button>
    </div>
    <div class="sectionHeader">
      <label class="hedaer">{{ message }}</label>
    </div>
    <div class="userScannerBtn" *ngIf="!trakingVerificationFailed">
      <button class="btn btn-primary" (click)="continueStep3()">Re-scan</button>
    </div>
  </section>-->


